/.idea/
/.DS_Store

/backend/target/
/backend/.m2/
/backend/.mvn/wrapper-home/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/data/
/backend/microflow.db

/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/build/
/frontend/.metadata
/frontend/macos/Flutter/ephemeral/
/frontend/linux/flutter/ephemeral/
/frontend/windows/flutter/ephemeral/
/frontend/android/.gradle/
/frontend/android/app/debug/
/frontend/android/app/profile/
/frontend/android/app/release/

/.env
/ops/docker/backend/data/*
!/ops/docker/backend/data/.gitkeep
/ops/docker/backend/db/*
!/ops/docker/backend/db/.gitkeep
